@inject NavigationManager Navigation

@if (Visibility != PreviewComponentVisibility.Hidden)
{
<div class="post" @onclick='() => Navigation.NavigateTo("/post/" + Post.Id, true)'>
		@if (Visibility.HasFlag(PreviewComponentVisibility.Title))
		{
			<div class="title">@Post.Title</div>
		}
		<div class="date">
			@{
				bool hasCreationDate = Visibility.HasFlag(PreviewComponentVisibility.CreationDate);
				bool hasTimeToRead = Visibility.HasFlag(PreviewComponentVisibility.TimeToRead);
				bool hasAuthor = Visibility.HasFlag(PreviewComponentVisibility.Author);
			}
			@if (hasCreationDate)
			{
				@Post.PublishedOn.ToString("dd MMMM yyyy, HH:mm")
			}
			@if (hasCreationDate && (hasTimeToRead || hasAuthor))
			{
				<span> | </span>
			}
			@if (hasTimeToRead)
			{
				<span>
					Reading Time: about
 				</span>
				 <span>
					@Post.CalculateReadingTime().Minutes
				 </span>
				<span>
					Minutes
				</span>
			}
			@if (hasTimeToRead && hasAuthor)
			{
				<span> | </span>
			}
			@if (hasAuthor)
			{
				<a href="Users/@Post.Author.Id">@Post.Author.ToString()</a>
			}
		</div>
		@if (Visibility.HasFlag(PreviewComponentVisibility.ContentPreview))
		{
			<div class="contentPreview">@Post.Introduction</div>
		}
</div>
}

@code {
	[Parameter, EditorRequired]
	public BlogPost Post { get; set; } = null!;

	[Parameter]
	public PreviewComponentVisibility Visibility { get; set; } = PreviewComponentVisibility.All;
}
